body{
    margin:0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left{
    float: left;
}
.right{
    float: right;
}

#banner{
    background-color: #40342F;
    border-bottom: 3px ridge #8ACC82;
    margin: 0px;
}

.links {
    position: absolute;
    right: 170px;
    top: 30px;
    word-spacing: 15px;
    font-family: 'Kodchasan', sans-serif;
}

/* default link color */
a {
    color:#BF9B8D;
}

/* mouse over link */
a:hover {
    color: #FFEFD5;
}

#name {
    color: #FFEFD5;
    background-color: #7F675E;
    margin-left: 175px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px; 
    font-family: 'Kodchasan', sans-serif;
}

.contentTitle {
    font-size: 20px;;
    border-bottom: 2px ridge #FFEFD5 ;
    color: rgb(121, 124, 124);
}

.content{
    color: rgb(75, 75, 75);
    background-color: white;
    width: 960px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 200px;
    padding: 20px;
    border-radius: 4px; 
    line-height: 30px;
    font-family: 'Kodchasan', sans-serif;
   }

#imgdemo {
    margin-right: 20px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #40342F;
    color: #BF9B8D;
    text-align: center;
    font-family: 'Kodchasan', sans-serif;
    border-top: 8px solid #8ACC82;
}

/* Contact form page */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style of submit button */
input[type=submit] {
    background-color: #40342F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button */
input[type=submit]:hover {
    background-color: #BF9B8D;
}

/* Portfolio page */
/* Container holding the image and the text */
.container {
    position: relative;
    display: inline-block;
 }

/* Text blocks */
.one {
    position: absolute;
    bottom: 20px;
    left: 0;
    right:0;
    background-color: #40342F;
    color: #FFEFD5;
    text-align: center;
}

/* Media queries*/

/* When screen reaches 980px or less */
@media screen and (max-width: 980px) {
#name {      
    margin-left: 20px;
    font-size: 10px;
}
       
.links {
    position: absolute;
    right: 20px;
    top: 17px;
    word-spacing: 20px;
    font-size: 10px;
}

.contentTitle {
    font-size: 10px;
}

#imgdemo {
    width: 50%;
  }

.imgPort {
    width: 300px;
    height: 150px;
    padding: 5px;
}

.one {
    padding: 0px;
    margin: 5px;
}

.content {
    width: 70%;
    font-size: 10px;
    line-height: 15px;
    margin: 20px;
    margin-bottom: 200px;
}

#footer {
    font-size: 8px;
}
}

/* When screen reaches 768px or less */
@media screen and (max-width: 768px) {
.links {
    position: absolute;
    right: 20px;
    top: 17px;
    word-spacing: 20px;
    font-size: 10px;
    }

.content {
    width: 89%;
    margin-right: 20px;
    font-size: 10px;
}

.imgPort {
    width: 130%;
    height: 100%;
    padding: 5px;  
}

.one {
    padding: 0px;
    margin: 5px;
    width: 130%;
}

#footer {
    font-size: 8px;
}

/* When screen reaches 640px or less */
@media screen and (max-width: 640px) {
#name { 
    clear: both;
    position: fixed;     
    font-size: 10px;
    margin-left: 0px;
    margin-right: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 3px ridge #8ACC82;
    text-align: center;
}
     
.links {
    top: 55px;
    background: #40342F;
    width: 100%;
    right: 0px;
    position: fixed;
    padding: 5px;
    text-align: center;

}

#imgdemo {
    width: 100%;
    padding-bottom: 10px;
  }

.content {
    width: 85%;
    margin-top: 95px;    
}
}
}